SERVER_PORT=3000
FRONTEND_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_NAME=eventhub
DB_USER=postgres
DB_PASS=postgres

#SEEDER AMDMIN

ADMIN_EMAIL=admin@test.it
ADMIN_PASSWORD=Admin123
ADMIN_USERNAME=AdminUser
ADMIN_NAME=Direttore
ADMIN_SURNAME=Generale

JWT_SECRET=Zotge48INoHXrBk4jraRfTGlAylZj76Jm6BkYmVbPe5


NODE_ENV=development

